<%
@title = "Climb!"
@back_url = climbs_path
@extra_header = button_to "Done", { action: "complete", climb_id: @climb.id }, method: :post, class: "btn btn-primary btn-sm", data: { test: 'complete' }
@hide_current_climb_link = true
%>

<div class="card">
  <%= render 'shared/map', route_sets: @climb.route_sets,
                            routes: @routes,
                            previous_states: previous_states,
                            new_wins: new_wins,
                            floorplan_data: @place.floorplan.data,
                            initial_route_states: @climb.route_states,
                            show_new_win_star: false,
                            lockable: true,
                            editable: true %>
</div>

<script>
  $(() => {
    const $climbedAt = $('#climbedAt')
    const $done = $('#done')

    $climbedAt.change(() => updateServer())
  })

  $(() => {
    const $routeSetsContainer = $('#routeSetsContainer')
    const routeSetContainerTop = $routeSetsContainer[0].getBoundingClientRect().y + document.documentElement.scrollTop - 10
    $('#routeSets').css({ maxWidth: $routeSetsContainer.width() })

    const updateFixedRouteSet = () => {
      if(document.documentElement.scrollTop > routeSetContainerTop)
        $routeSetsContainer.addClass('fix-to-top')
      else
        $routeSetsContainer.removeClass('fix-to-top')
    }

    $(document).scroll(updateFixedRouteSet)
    updateFixedRouteSet()
  })
</script>
