<%
@title = "Climbs"
@back_url = root_path
@extra_header = link_to "Add", new_climb_path, { class: "btn btn-primary btn-sm" }
%>

<table class="table">
  <tbody>
    <% @climbs.map do |climb| %>
    <tr>
      <td><%= climb.emoji %></td>
      <td><%= climb.updated_at %></td>
      <td><%= link_to "View", climb_path(climb.id), { class: "btn btn-secondary btn-sm" } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
