<% 
@title = "Route Sets"
@back_url = menu_path
@extra_header = link_to "Add", new_route_set_path, { class: "btn btn-primary btn-block btn-sm" } 
%>

<table class="table">
  <tbody>
    <% @route_sets.each do |route_set| %>
      <tr>
        <td><%= route_set.name %></td>
        <td><%= link_to "Edit", edit_route_set_path(route_set.id), { class: "btn btn-secondary btn-sm" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
