<h1>Edit Route Sets</h1>

<%= link_to "Add Route Set", add_route_set_path %>

<table>
  <tbody>
    <% @route_sets.each do |route_set| %>
      <tr>
        <td><%= route_set.name %></td>
        <td><%= link_to "Edit", edit_route_set_path(route_set.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
