/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

@font-face {
    font-family: Metropolis;
    src: font-url("Metropolis-Regular.otf") format("opentype");
}

body {
  background-color: rgb(70, 69, 90);
  font-family: Metropolis !important;
  color: rgb(70, 69, 90) !important;
}

main {
  max-width: 640px;
  margin: auto;
}

.btn {
  color: rgb(70, 69, 90) !important;
}

h2 {
  font-size: 30px;
  color: rgb(244, 245, 242);
}

.navbar {
  #icon {
    margin-top: -3px
  }

  strong {
    color: rgb(70, 69, 90) !important;
    font-size: 32px;
  }
  background-color: #ADADB1 !important;
  padding: 0px;
}

.btn {
  text-transform: uppercase !important;
  font-size: 0.8rem;
  font-weight: bold;
}

.btn-success {
  background-color: rgb(104, 170, 105) !important;
  border-color: rgb(104, 170, 105) !important;
}

.btn-primary, .btn-secondary {
  background-color: #a5b5c7 !important;
  border-color: #a5b5c7 !important;
}

.btn-danger {
  background-color: rgb(170, 101, 117) !important;
  border-color: rgb(170, 101, 117) !important;
}

.card {
  border-radius: initial;
  margin-left: -13px;
  margin-right: -13px;
  padding: 12px 12px 24px 12px;
  background-color: #ADADB1 !important;
}

.map {
  position: relative;

  img {
    max-width: 100%;
    border-radius: 10px;
    width: 100%;
  }
}

html, body {
  overflow-x: hidden;
}

.card table {
  margin-bottom: 0px;
  color: rgb(70, 69, 90) !important;

  tr:last-child td {
    border-bottom: none;
  }
}

.accordion {
  margin-left: -13px;
  margin-right: -13px;

  .card {
    padding: initial;
    margin-left: initial;
    margin-right: initial;

    h5::before {
      display: inline-block;
      content: '>';
      margin-right: 10px;
      font-weight: bolder;
      transition: .25s all;
    }

    &.open h5::before {
      //content: '🔽'
      -webkit-transform: rotate(90deg);  /* to support Safari and Android browser */
      -ms-transform: rotate(90deg);      /* to support IE 9 */
      transform: rotate(90deg);
    }
  }
}

.route {
  width: 20px;
  height: 20px;
  position: absolute;
  margin: -10px;
  white-space: nowrap;
  text-align: center;
}

#goToCurrentClimb {
  height: 35px;
  background-color: #AA6575;
  text-align: center;
  padding: 6px;

  a {
    color: rgb(244, 245, 242);
    text-decoration: none;
  }
}