// Place all the styles related to the climbs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.climb-wheel {
  align-items: center;
  color: #fafafa;
  display: inline-block;
  flex-direction: column;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  justify-content: center;

  .pie {
    border-radius: 100%;
    height: 25px;
    overflow: hidden;
    position: relative;
    width: 25px;
  }
  .pie__segment {
    --a: calc(var(--over50, 0) * -100%);
    --b: calc((1 + var(--over50, 0)) * 100%);
    --degrees: calc((var(--offset, 0) / 100) * 360);
    -webkit-clip-path: polygon(var(--a) var(--a), var(--b) var(--a), var(--b) var(--b), var(--a) var(--b));
    clip-path: polygon(var(--a) var(--a), var(--b) var(--a), var(--b) var(--b), var(--a) var(--b));
    height: 100%;
    position: absolute;
    transform: translate(0, -50%) rotate(90deg) rotate(calc(var(--degrees) * 1deg));
    transform-origin: 50% 100%;
    width: 100%;
    z-index: calc(1 + var(--over50));
  }
  .pie__segment:after,
  .pie__segment:before {
    background: var(--bg, #e74c3c);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .pie__segment:before {
    --degrees: calc((var(--value, 45) / 100) * 360);
    transform: translate(0, 100%) rotate(calc(var(--degrees) * 1deg));
    transform-origin: 50% 0%;
  }
  .pie__segment:after {
    opacity: var(--over50, 0);
  }
  * {
    box-sizing: border-box;
  }
}

#routeSetsContainer {
  &.fix-to-top {
    height: 40px;

    #routeSets {
      position: fixed;
      top: 10px;
      z-index: 1;
      width: 100%;
    }
  }

  flex-wrap: initial;

  button {
    flex-shrink: 1;
    border-radius: 0px;

    &:first-child {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    &:last-child {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }
}

#map {
  border-radius: 10px;
  overflow: hidden;

  &.pink {
    background-color: pink;
  }

  &.black {
    background-color: black;
  }

  &.blue {
    background-color: blue;
  }

  &.red {
    background-color: red;
  }

  &.green {
    background-color: green;
  }
}