// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.route {
  width: 20px;
  height: 20px;
  position: absolute;
  margin: -10px;
  cursor: pointer;
}
