<%
  @title = "#{@place.name}"
  @back_url = places_path
%>

<div class="card">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @place.tournaments.each do |tournament| %>
        <tr>
          <td><%= tournament.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr />
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Grade</th>
      </tr>
    </thead>
    <tbody>
      <% @place.grades.each do |grade| %>
        <tr style="background-color: <%= grade.map_tint_colour %>">
          <td><%= grade.name %></td>
          <td><%= grade.grade %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>